.app {
  text-align: center;
  padding: 20px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

.pokemon-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 150px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}

.pokemon-card h3 {
  text-transform: capitalize;
}
